
.navbar-brand {
  color: red;
}

.nav-item{
  text-decoration:  none;
  color:white;
  margin-right: 20px;
}

body{
  background-color:rgb(33, 37, 41);
  color:white;
}

.banner{
  display: flex;
  align-items : center;
  height:600px;
}

/* ::before : 가상선택자 - 존재하지 않은 요소를 존재하는 요소처럼 보여지게 하는 선택자
*/
.banner::before{
      position : absolute;
      left : 0;
      width: 100% ;
      height : 600px;
      content: '';
      background: linear-gradient(to left, black, transparent);
}

.banner-info{
  width: 40%;
  margin-left: 40px;
  z-index: 1;
}